#alert-display  dl.portal-Message {
    background-color: #FFFFE3;
    border: 1px solid #999966;
    clear: both;
    font-size: 80%;
    margin: 10px 0 0 0;
}

#alert-display dl.portal-Message dt {
    background-color: #999966;
    color: White;
    float: left;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;

}

#alert-display  dl.portal-Message dd {
    line-height: 1.25em;
    margin: 0;
    padding: 0.5em;
}

#alert-display dl.error dt {
    background-color: #DD0000 !important;
}
#alert-display dl.error dd {
    background-color: #FFDDCC;
}

#alert-display dl.error {
    border-color: red !important;
}

#alert-display dl.warning dt {
    background-color: #DD8800 !important;
}

#alert-display dl.warning {
    border-color: #DD8800 !important;
}
