.positionRelative { position: relative; }
.dropdownAddContent{ cursor: pointer; }

.dropdownAddContent a { 
	padding-left: 10px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.dropdownAddContent:hover{ 
	background-color: White !important;
    color: #666666;
}

.dropdownAddContent:hover ul {
    display: block;
    left: 100%;
    position: absolute;
    top: 0;
}

.dropdownAddContent li{
	float: none;
    position: relative;
}

.dropdownAddContent ul{
	height: auto;
    min-width: 170px;
	z-index: 1000;
	background-color: #A6A6A6;
}

.dropdownAddContent .contenttype-document,
.dropdownAddContent .contenttype-event,
.dropdownAddContent .contenttype-folder,
.dropdownAddContent .contenttype-link,
.dropdownAddContent .contenttype-news-item,
.dropdownAddContent .contenttype-plone-site,
.dropdownAddContent .contenttype-collection,
.dropdownAddContent .contenttype-topic,
.dropdownAddContent .contenttype-file,
.dropdownAddContent .contenttype-image { margin-left: 13px !important; }
